name: CI Pipeline

on:
  push:
    branches: [ dev, main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up environment
        run: echo "Setup (Java/Node) will be added later"

      - name: Build project
        run: echo "Build step will be added later"

      - name: Security scan placeholder
        run: echo "Security scans (Trivy/Sonar) will be added here"
